
<style>
    .create-task-form div {
        margin-bottom: 10px;
    }

    input {
        background-color: #d0e3f3;
        padding: 3px;
        border: 2px solid black;
        width: 200px;
    }
    label{
        width: 100px;
    }
    .topdiv{
        margin-bottom:20px;
    }
    .submit{
        margin-left:104px;
    }
</style>

<div class="topdiv">Новый пользователь</div>


<form method="post" class="create-task-form">
    <fieldset>
        <div class="form-element">
            <label for="Subject">Заголовок</label>
            <input type="text" name="Subject" value=""/>
        </div>
        <div class="form-element">
            <label for="Subject">Описание</label>
            <textarea cols="50" rows="10" name="Description"></textarea>
        </div>
        <div class="form-element">
            <label for="Subject">Id пользователя</label>
            <input type="text" name="UserId" value="@ViewData["UserId"]" />
        </div>
        
        <div>
            <input type="submit" value="Подтвердить" class="submit" />
        </div>
    </fieldset>
</form>
