@model StorageOfPeople.Models.Storage.TaskViewModel
<style>
    .create-task-form div {
        margin-bottom: 10px;
    }

    input {
        background-color: #d0e3f3;
        padding: 3px;
        border: 2px solid black;
        width: 200px;
    }

    button {
        background-color: #d0e3f3;
        padding: 3px;
        border: 2px solid black;
        width: 200px;
    }
    label{
        width: 130px;
    }
    .topdiv{
        margin-bottom:20px;
    }
    .submit{
        margin-left:104px;
    }
</style>

<div class="topdiv">Редактирование задания</div>


<form method="post" class="create-task-form">
    <fieldset>
        <div class="form-element">
            <label for="Id">Id</label>
            <input type="text" name="Id" value="@Model.Id" />
            @*<input type="submit" name="action" value="Проверить" class="submit" />*@
            <button class="BtnReturn" type="submit" name="action" value="Check">Найти пользователя по id</button>
        </div>
        <div class="form-element">
            <label for="Subject">Заголовок</label>
            <input type="text" name="Subject" value="@Model.Subject"/>
        </div>
        <div class="form-element">
            <label for="Description">Описание</label>
            <textarea cols="50" rows="10" name="Description">@Model.Description</textarea>
        </div>
        <div class="form-element">
            <label for="UserId">Id пользователя</label>
            <input type="text" name="UserId" value="@Model.UserId" />
        </div>

        
        <div>
            <button class="submit" type="submit" name="action" value="Save">Сохранить</button>
        </div>
    </fieldset>
</form>
