@model TaskWebProject.Models.Tasks.TaskListViewModel


<style>
    .create-task-form div {
        margin-bottom: 10px;
    }
    button {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #d0e3f3;
    }
    .counter{
        background-color: #d0e3f3;
        padding: 3px;
        border: 2px solid black;
        width: 150px;
        margin-left:142px;
    }
    .BtnAdd{
        padding: 3px;
        width: 150px;
    }

    .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #8C959D; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 0.5rem 1rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
        float:left;
        margin-left:4px;
        margin-right:4px;
    }
    .BtnReturn {
        font-size:18px;
    }
    .divv{
        width: 800px;
        text-align: center;
    }

    .BtnNext {
        font-size: 18px;
    }
    TABLE {
        /*width: 1000px;*/
        width: 50%;
        min-width: 300px;
        border-collapse: collapse;
        background-color: #d0e3f3;
    }
    /*td{width: 150px}*/
    td {
        max-width: 250px;
    }
    TD, TH {
        padding: 3px; 
        border: 2px solid black; 
    }
</style>

<div class="center">

<form method="post">
        <fieldset>
            
            <div>
                <label class="counter">Всего @Model.TotalCount записей </label>
            </div>
            <table border="1" width="100%">
                <tr>
                    <th>Id</th>
                    <th>Заголовок</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
                @foreach (var tsk in Model.Tasks)
                {
                    <tr>
                        <td>@tsk.Id</td>
                        <td>@tsk.Subject</td>
                        <td>@tsk.Description</td>
                        <td>
                            <div>
                                <a href="/Tasks/EditTask/@tsk.Id" class="btn">Редактировать</a>
                                <a href="/Tasks/AddTask/@tsk.UserId" class="btn">Добавить</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <p class="divv">
                @if (Model.CanBack)
                {
                    <a class="BtnReturn" href="/Tasks/TableTasks/?page=@(Model.Page - 1)&id=@Model.Id">Back</a>
                }
                @if (Model.CanForward)
                {
                    <a class="BtnNext" href="/Tasks/TableTasks/?page=@(Model.Page + 1)&id=@Model.Id">Forward</a>
                }
            </p>
        </fieldset>
</form>

</div>